/* the body will use the following: */
* {
    font-family: 'Quicksand', sans-serif;

}

h1[class] {
    color: rgb(0, 73, 128);
    margin-top: 8px;
    padding-bottom: 1vb;
    border-style: dotted;
}

h3 {
    color: blue;
    margin: 10pc 10pc 10pc 10pc;
    border-radius: 10px;
    border-width: 10pt;
}

footer h2 {
    color: #000000;
    padding: 1vh 1vw 1vh 1vw;
    border-color: blueviolet;
}

a {
    color: hsl(0, 100, 50);
    background:hsl(248, 100%, 50%);
}

main {
    border: 1px dashed black 10px;
}

.title {
    text-decoration: wavy;
    text-align: center;
}

#names {
    display: block;
}

p.tasks{
    display: inline-block;
}

form {
    height: auto;
    width: auto;
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

input ~ datalist {
    font: bold;
}


button:hover{
    color:red;
}

button:active{
    color:yellow;
}
ol, ul {
    border: #000000;
}

summary + p {
    font-family: Arial, Helvetica, sans-serif;
}
/* */