/* the body will use the following: */
body {
    font-family: 'Quicksand', sans-serif;

}

h1 {
    color: rgb(0, 73, 128);
}

h3 {
    color: blue;
}

h2 {
    color: #000000;
}

nav {
    color: hsl(0, 100, 50);
}


/* */